<div class="nav">
  <div class="item savedList">
    <div class="row">
      <div class="col-3">
        <i class="bi bi-list-ul savedListItem"></i>
      </div>
      <div class="col-9">
        SAVED LISTS
      </div>
    </div>
  </div>
  <div class="item">
    <div class="row">
      <div class="col-3">
        <i class="bi bi-funnel"></i>
      </div>
      <div class="col-9">
        SAVED FILTERS
      </div>
    </div>
  </div>
  <div class="item">
    <div class="row">
      <div class="col-3">
        <i class="bi bi-clock-history"></i>
      </div>
      <div class="col-9">
        SEARCH HISTORY
      </div>
    </div>
  </div>
  
  <div class="item">
    <form>
      <div class="form-group">
        <input type="text" name="search" class="form-control" placeholder="Search" id="search" [formControl]='search'>
      </div>
    </form>
  </div>
</div>
