.main {
  background: #f3f3f3d3;
  color: rgb(90, 90, 90);
  padding: 15px;
  margin-top: 1vh;
}

.pointer {
  cursor: pointer;
}

.form {
  margin-top: 2vh;
}

.descriptionBox {
  height: 80vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
}

.description {
  /* margin-left: -2vh;
  margin-top: 2vh;
  margin-bottom: 2vh; */
  margin: 2vh 0vh 2vh -2vh;
  font-weight: 600;
  /* width: 10vh;
  height: 5vh; */
}

.fontcolor {
  color: #2e61aa;
}

::-webkit-scrollbar {
  width: 1em !important;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  /* outline: 1px solid slategrey; */
  border-radius: 12px;
}
