@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: small;
}

body {
  font-family: "Pontano Sans", sans-serif;
  overflow: hidden;
}
